*.o
*.so
iri-edp/src/iritest
iri-edp/src/messages.txt
iri-edp/src/iri
iri-edp/src/*.csv

node_modules/
*.json
!package.json

*.jpg
*.png
!noaa-rtsw/sw-strength-sustain-2025-05-24.png

fetches/
ace-sw-archive*.parquet
__pycache__/

bin/

.vscode/
